@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

@font-face {
	font-family: 'sequel black-85'; 
	src: url(../fonts/Sequel100Black-85.ttf);
	font-display: swap;
}